/target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled class & package files
*.class
*.jar
*.war
*.ear
*.zip

# Log files
*.log

# IDE specific files
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings
.vscode/
.gemini/

# OS specific files
.DS_Store
Thumbs.db
